* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  background: #1f2937;
  color: white;
  height: 3;
  justify-content: space-between;
}
.menu {
  font-size: 0.7rem;
  display: flex;
  padding-right: 6rem;
  padding-top: 1rem;
  gap: 1rem;
  height: max-content;
}
.logo {
  padding-top: 1rem;
  display: flex;
  height: max-content;
  padding-left: 6rem;
}

a {
  color: rgb(212, 209, 209);
  text-decoration: none;
}
.main {
  color: rgb(212, 209, 209);
  font-size: 0.7rem;
  align-items: center;
  height: 17rem;
  display: flex;
  background-color: #1f2937;
}
.intro {
  padding-left: 6rem;
}
.img {
  height: 6rem;
  color: white;
  justify-content: center;
  width: 45rem;
  display: flex;
  background: rgb(139, 139, 139);
  padding: 2.6rem;
  margin-right: 6rem;
  margin-left: 1rem;
}
.btn {
  font-size: 0.7rem;
  background: #3882f6;
  color: whitesmoke;
  border-radius: 0.3rem;
  padding: 0.3rem;
  width: 5rem;
}
h1 {
  color: white;
}
.selection {
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
h2 {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}
.card {
  border-radius: 8px;
  height: 6rem;
  width: 6rem;
  display: flex;
  border: #3882f6 solid 3px;
}
.p {
  justify-content: center;
  display: flex;
  height: 2rem;
  gap: 2rem;
}
.text {
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  height: 6rem;
  width: 6rem;
}
.promo {
  justify-content: center;
  display: flex;
  background-color: #e5e7eb;
  height: 13rem;
  margin-top: 4rem;
  align-items: center;
}
.text2 {
  display: flex;
  text-align: center;
  width: 25rem;
}
p {
  flex-flow: row-reverse;
  display: flex;
  align-self: flex-end;
}
.boss {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
}
.box {
  border-radius: 0.4rem;
  background-color: #3882f6;
  display: flex;
  height: 5rem;
  width: 34rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.sig {
  border: #e5e7eb solid 2px;
  background-color: #3882f6;
  height: max-content;
  color: #e5e7eb;
  border-radius: 0.3rem;
  width: 5rem;
}
.footer {
  display: flex;
  background-color: #1f2937;
  height: 3.5rem;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
